.card{
    float: left;
    margin: 20px;
    border: 2px solid black;
    width: 250px;
    text-align: center;
    background-color: rgb(214, 231, 160);
    line-height: 1;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
} 
button{
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    background-color: rgb(214,231,160);
    border: 2px soild rgb(214, 231, 160);

}